---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio Page</title>
  </head>
  <body>
    <h1>Welcome to my portfolio!</h1>
    <h2>Here you can view the projects I've completed.</h2>
  </body>
</html>
